body{
  background-image: linear-gradient(to right, #5ab9ea, purple);
  background-attachment: scroll;
}

h1, h2{
  text-align: center;
  text-decoration: underline;
  color: white;
}

h5, p{
  text-align: center; 
  color: white;
}

h3, h4, li{
  text-align: left;
  color: white;
}

table, td{
  text-align: center; 
  width: 100%;
  border: 1px solid;
  table-layout: fixed;
  border-collapse: collapse;
  color: white;
}

.columnHeader{
  text-align: center;
}

#information::after{
  content: "\a";
  white-space: pre;
}

#location::after{
  content: "\a";
  white-space: pre;
}

img{
  width: 475px;
  height: 350px;
}

.column{
  float: auto;
  width: auto;
  padding: 6px;
  image-rendering: crisp-edges;
}


.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 220px;
}

video {
  display: block;
  margin: auto;
  width: 720px;
  height: 450px;
}

.active{
  background-color: #8E8D8A;
}

.nav {
  background-image: linear-gradient(to right, #5ab9ea, purple);
  text-align: center;
}

.nav li{
  display:inline-block;
}

.nav a{
  text-decoration: none;
  color: white; 
  text-align: center;
  display: block;
  padding: 14px 16px;
}

.nav a:hover{
  background-image: linear-gradient(to left, #c1c8e4, #8860d0);
}

div{
  width: 99%;
  padding: 10px;
  margin: 0;
  background-image: linear-gradient(to left, #c1c8e4, #8860d0);
  border-radius: 25px;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

